@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Range Slider Styles */
.custom-range-slider::-webkit-slider-thumb {
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.custom-range-slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  border: none;
  cursor: pointer;
}

.custom-range-slider::-ms-thumb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}